@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Hide scrollbar for all elements in Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide scrollbar for all elements in Firefox */
* {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* Optional: For Internet Explorer and Edge */
* {
  -ms-overflow-style: none; /* Hides the scrollbar */
}